body{
    margin: 0;
    
    
}
#main-navigation {
    color: white;
    list-style: none;
}

#main-navigation > li > a:visited{
    color: white;

}

#main-navigation > li{
    display: inline;


}


body > header{
background-color: dodgerblue;
color: white;
padding: 10px;


}

body > footer{
    background-color: dodgerblue;
    text-align: center;
    color: white;
    padding: 10px;

}